    <footer class="text-center page-footer" style="padding: 1em;background: rgb(246,246,246);border-color: rgb(208,208,208);">
        <p style="margin-bottom: 1em;margin-top: 1em;">{{ site.footer_text }}</p>
    </footer>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/assets/js/vanilla-zoom.js"></script>
    <script src="/assets/js/theme.js"></script>
