<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/">Don Vo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                {% for item in site.navbar_items %}
                <li class="nav-item">
                    <a class="nav-link{% if include.selected_nav_id == item.id %} active{% endif %}" href="{{ item.url }}">
                    {{ item.text }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>