---
title: 'Blog Posts'
selected_nav_id: 'blog'
---
<!DOCTYPE html>
<html>

<head>
{% include head.html %}
</head>

<body>
{% include navbar.html selected_nav_id=page.selected_nav_id %}
    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Blog Posts</h2>
                    <p>A blob of thoughts all coherently listed in one place.</p>
                </div>
                <div class="block-content">
                    {% for post in site.posts %}
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="{{ post.featured_image }}"></div>
                            <div class="col-lg-7">
                                <h3>{{ post.title }}</h3>
                                <div class="info"><span class="text-muted">{{ post.date | date: "%B %-d, %Y" }} by&nbsp;<a href="#">{{ post.author }}</a></span></div>
                                <p>{{ post.lead_text }}</p><button onclick="window.location.href='{{ post.url}}'" class="btn btn-outline-primary btn-sm" type="button">Read More</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% include footer.html %}
</body>

</html>
