---
title: 'Hello World!'
date: 'July 2, 2021'
categories: blog
tags: Web
featured_image: '/assets/img/blog/hello-world.png'
lead_text: "Since I came out of college, I've been meaning start some kind of blog -- something that I would to blurb out an array of different thoughts (oh wait, Twitter's there for that) or to document major technical learnings and obstacles in my career..."
author: Don Vo
selected_nav_id: 'blog'
---
<!DOCTYPE html>
<html>

<head>
{% include head.html title=page.title %}
</head>

<body>
{% include navbar.html selected_nav_id=page.selected_nav_id %}
    <main class="page blog-post">
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background-image:url(&quot;{{ page.featured_image }}&quot;);"></div>
                    <div class="post-body">
                        <h3>Hello World!</h3>
                        <div class="post-info"><span>By {{ page.author }}</span><span>{{ page.date | date: "%B %-d, %Y" }}</span></div>
                        <p>Since I came out of college, I've been meaning start some kind of blog -- something that I would to blurb out an array of different thoughts (oh wait, Twitter's there for that) or to document major technical learnings and obstacles in my career -- maybe something like the Medium posts from devs who do deep dives on technologies and frameworks like ReactiveSwift.</p>
                        
                        <p>Now that I've finally kicked off a polished version of this site up and running, I figure that this might be a good opportunity for me get that blog going. Maybe I can even improve my technical writing skills and reinforce my learnings on all sorts of topics</p>
                        
                        <p>Anyways. I'll probably using this blog to explore and blurb out thoughts on my experience with different books, technologies, or quirks of what I'm run into -- a journal of my experiences more than anything. Will probably post something.</p>
                        
                        <!--
                        <figure class="figure"><img class="rounded img-fluid figure-img" src="/assets/img/scenery/image6.jpg" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption">Lorem ipsum dolor</figcaption>
                        </figure>
                      
                        <h4>Lorem Ipsum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae
                            leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <figure class="figure"><img class="rounded img-fluid figure-img" src="/assets/img/scenery/image4.jpg" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption">Lorem Ipsum dolor</figcaption>
                                </figure>
                            </div>
                            <div class="col">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
                                    vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.&nbsp;</p>
                            </div>
                        </div>
                        <h4>Lorem Ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae
                            leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="row">
                            <div class="col">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
                                    vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="col-md-6">
                                <figure class="figure"><img class="rounded img-fluid figure-img" src="/assets/img/scenery/image5.jpg" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption">Lorem Ipsum dolor</figcaption>
                                </figure>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </section>
    </main>
{% include footer.html %}
</body>
</html>
