---
# 404 page
title: 'Woah There!'
---
<!DOCTYPE html>
<html>

<head>
{% include head.html %}
</head>

<body>
{% include navbar.html %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Woah there!</h2>
                    <p>It seems you've reached this page by mistake. You might want to go back to the previous page or navigate yourself back to the homepage.</p>
            <br>
            <p style="font-size: 12em;">🙈</p>
		    <br>
		    <button type="button" class="btn btn-primary" onclick="location.href='/';">Go Home</button>
                </div>
            </div>
        </section>
    </main>
{% include footer.html %}
</body>

</html>
