---
# 404 page
title: 'Woah There!'
---
<!DOCTYPE html>
<html>

<head>
{% include head.html %}
</head>

<body>
{% include navbar.html %}
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Don Vo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="blog-posts.html">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact-me.html">Contact Me</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Woah there!</h2>
                    <p>It seems you've reached this page by mistake. You might want to go back to the previous page or navigate yourself back to the homepage.</p>
            <br>
            <p style="font-size: 12em;">🙈</p>
		    <br>
		    <button type="button" class="btn btn-primary" onclick="location.href='/';">Go Home</button>
                </div>
            </div>
        </section>
    </main>
{% include footer.html %}
</body>

</html>
