---
# Contact me page
title: 'Contact Me'
selected_nav_id: 'contact'
---
<!DOCTYPE html>
<html>

<head>
{% include head.html title=page.title %}
</head>

<body>
{% include navbar.html selected_nav_id=page.selected_nav_id %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Comments, Questions or Concerns?</h2>
                    <!--
                    <p>If you'd like to chat or connect, reach out to me via&nbsp;<a href="https://www.linkedin.com/in/vodonle/">LinkedIn</a>. Otherwise, feel free to shoot me a message through this contact form.</p>
                    -->
                </div>
                <center>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScf0xiernbPun9lc6Q9pmlkkGDPAPtxOQe5b3791PhjxWUZLw/viewform?embedded=true" width="95%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </center>
            </div>
        </section>
    </main>
{% include footer.html %}
</body>

</html>
