---
# Homepage
title: 'Home'
selected_nav_id: 'home'
---
<!DOCTYPE html>
<html>

<head>
{% include head.html %}
</head>

<body>
{% include navbar.html selected_nav_id=page.selected_nav_id %}
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url(&quot;/assets/img/backgrounds/blue-sky.jpg&quot;);color:rgba(0, 52, 112, 0.4);">
            <div class="text">
                <h2>Hi! I'm Don.</h2>
                <p>I'm a software engineer specializing in iOS development.<br></p>
                <div style="display:flex;flex-direction:row;justify-content:center;justify-content:space-evenly">
                    <a href="https://github.com/{{ site.github_username }}/">
                        <button class="btn btn-transparent-navigation" type="button"><i class="fa fa-github fa-lg"></i> Github</button>
                    </a>
                    <a href="https://linkedin.com/in/{{ site.linkedin_username }}/">
                        <button class="btn btn-transparent-navigation" type="button"><i class="fa fa-linkedin fa-lg"></i> LinkedIn</button>
                    </a>
                </div>
            </div>
        </section>
        <section class="clean-block clean-info dark" style="padding: 0px ;">
            <div class="container">
                <section id="section-timeline" style="padding: 100px 0px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="section-heading">About Me</h2>
                                <h3 class="section-subheading text-muted">I’m a software developer in the bay area working on the&nbsp;<a href="https://apps.apple.com/us/app/workday/id316800034">Workday iOS App</a>.&nbsp;</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-group timeline">
                                    <li class="list-group-item">
                                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/1200px-University_of_California,_San_Diego_seal.svg.png"></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>2014 - 2018</h4>
                                                <h4 class="subheading">Undergrad at UC San Diego</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">For college, I went to UC San Diego (UCSD), where I majored in Computer Science. Alongside taking a breadth of classes at UCSD, I tutored data structures to fellow undergraduates within the Computer Science department and leading discussions as a head tutor.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item timeline-inverted">
                                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/metron.png"></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>2017</h4>
                                                <h4 class="subheading">Android &amp; Web Development at Metron</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">At Metron, I built a weather crowd-sourcing <a href="https://www.sbir.gov/sbirsearch/detail/1563135">app</a> that exploits an Android phone's native sensors (such as built-in thermometers, barometers, and GPS sensors)&nbsp;to report weather data to a remote database. The app supports bluetooth connectivity to pull environmental data from external weather sensors as well as capability for user-inputed data points.&nbsp;</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/workday-logo-workday-11562888164rljyiqp8zf.png"></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>2018 - Now</h4>
                                                <h4 class="subheading">iOS Development at Workday</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">At Workday, I work on the&nbsp;Workday iOS&nbsp;<a href="https://apps.apple.com/us/app/workday/id316800034">app</a>, building out new features and contributing to core libraries.&nbsp;</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <section class="clean-block about-us" style="border: 1px solid rgb(252,252,252) ;">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Projects</h2>
                    <p>Below are some of the projects that I have worked on within the last few years.</p>
                </div>
                <div class="row justify-content-center">
                    {% for project in site.projects reversed %}
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{{ project.featured_image }}">
                            <div class="card-body info">
                                <h4 class="card-title">{{ project.title }}</h4>
                                <p class="card-text">{{ project.lead_text }}</p>
                                {% if project.tags != empty %}
                                <div class="icons">
                                    <div class="row">
                                        {% for tag in project.tags %}
                                        <div class="col" style="background: #ECEFF1;color: #9eb1bd;padding: 0.5em 1.5em;margin: 0.5em;"><span style="padding: 4px 8px 4px 8px;">{{ tag }}</span></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% include footer.html %}
</body>

</html>
